body {
	text-align: center;
	font-size: 80%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
h1 {
	font-size: 4em;
	color: #16BAE3;
	font-weight: bold;
	font-family: Georgia,Times,serif;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 1.3em;
	margin: 1em 0;
}
a {
	color: #3366FF;
}
#wraper {
	text-align: left;
	width: 760px;
	margin: 0 auto;
	margin-top: 20px;
	background: #fff;
	padding: 1em;
}
#header {
	margin: 10px 0;
}
#logo {
	float: left;
}
#logo a {
	color: #16BAE3;
	text-decoration: none;
}
#menu {
	float: right;
	padding: .5em 0;
}
#menu ul li {
	display: inline;
	margin-right: 10px;
	float: left;
	padding: .3em;
	width: 80px;
	text-align: center;
	border-bottom: 2px solid #ccc;
	cursor: pointer;
}
#menu ul li a {
	text-decoration: none;
}
#menu ul li:hover {
	background: #0066CC;
}
#menu ul li:hover a {
	color: white;
}
#menu {
	margin: 10px 0;
}
#mainContent {
	margin-top: 40px;
	width: 100%;
	font-size: 1.4em;
}
#tools {
	margin: 1em 0 ;
}
div.posts {
	margin: 0 auto;
	width: 80%;
}
li.post {
	position: relative;
	padding: 20px 0;
	margin-top: 20px;
}
li.post .date {
	background: #eee;
	padding: 3px;
	position: absolute;
	top: 0px;
	left: -60px;
}
li.post .title span {
	padding: 1em;
}
li.post .title:hover span {
	padding: 1em;
	background: #1F1D1D;
	color: white;
}
li.post .title:hover a {
	color: white;
}
li.post .date .year {
	background: #1F1D1D;
	color: white;
}
span.title {
	margin: 1em 0;
	border-bottom: 1px solid #ddd;
}
p.time {
	font-size: .8em;
}
p.time span {
	border-bottom: 1px solid #ddd;
}
div.content {
	margin: 2em 0;
}
div.content a {
	font-size: .9em;
	background: #D5E9F6;
	padding: 2px;
}
.page_nav {
	margin: 2em 0;
	font-size: .8em;
}
.page_nav a {
	color: #2C508F;
}

#notice {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #EF95D4;
	background: #FFCFF0;
}
.clear {
	clear: both;
}
.tips {
	margin: 1em 0;
	font-size: .9em;
	color: #999;
}