<div class="intro">
	<p>Hello, I do web development with Rails, jQuery, xHtml. I'd like to build a elegant application. I also focus on Mac Programming with MacRuby, Objective-C. Also play photoshop sometime. I'm open for freelance or off-site job position. </p>
</div>
<div class="twitter">
	<img src="images/twitter.jpg" width="30" height="30"></img><a href="http://twitter.com/uiicor">Follow me @twitter</a>
</div>
<div class="delicious">
	<img src="images/delicious.jpg" width="30" height="30"></img><a href="http://delicious.com/rociiu">My Links @delicious</a>
</div>