<div class="resume">
	<ol>
		<li>
			<h3>Who I am</h3>
			<p>My name is Roc, I live in China.</p>
		</li>
		<li>
			<h3>Education</h3>
			<p>Yang En University(Yeu), Fujian, China</p>
			<p>Bachelor of Computer Science and Technology</p>
		</li>
		<li>
			<h3>Technical Skills</h3>
			<p>Framework: Rails, Django, Cocoa Touch, jQuery</p>
			<p>Programming: Ruby, Python, Objective-C, Javascript</p>
			<p>Database: MySQL, PostgreSQL</p>
			<p>OS: Mac OS X</p>
			<p>Tools: Git, SVN</p>
			<p>Agile: SCRUM, XP, BDD, TDD</p>
		</li>
		<li>
			<h3>Experience</h3>
			<p>Outsource programming for startups since 2008,4. Include gazelle.com, cellucidate.com. I did both back-end programming with rails, and front-end with jQuery and CSS.</p>
		</li>
	</ol>
</div>
